In [2]:
#importando as bibliotecas
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import seaborn as sb
import zipfile
import requests
from io import BytesIO

In [3]:
#importando os dados para visualização do formato do dataset
url = 'https://dadosabertos.go.gov.br/dataset/cd82f643-f203-41d9-9542-9250df93cd14/resource/608204e0-9c98-47dd-9c96-a59e5066ba57/download/repassesmunicipios202503.csv'
arrec = pd.read_csv(url, sep = ";")
arrec.head(3)

,DATA_CREDITO,ANO_MES_REPASSE,DATA_REPASSE,NOME_MUNICIPIO,DEDUCAO_FUNDEB_ICMS,VALOR_BRUTO_ICMS,VALOR_CREDITADO_ICMS,DEDUCAO_FUNDEB_IPI,VALOR_BRUTO_IPI,VALOR_CREDITADO_IPI,DEDUCAO_FUNDEB_IPVA,VALOR_BRUTO_IPVA,VALOR_CREDITADO_IPVA
0,2025-03-05T00:00:00.000-03:00,202503,2025-03-05T00:00:00.000-03:00,ABADIA DE GOIAS,14016.25,70081.40,56065.15,0.0,0.0,0.0,1565.70,4070.26,2504.56
1,2025-03-05T00:00:00.000-03:00,202503,2025-03-05T00:00:00.000-03:00,ABADIANIA,13984.68,69923.44,55938.76,0.0,0.0,0.0,3433.25,9069.06,5635.81
2,2025-03-05T00:00:00.000-03:00,202503,2025-03-05T00:00:00.000-03:00,ACREUNA,28897.19,144485.68,115588.49,0.0,0.0,0.0,8761.13,28327.88,19566.75

In [ ]:
#abrir o arquivo zip online
url_zip = 'https://dadosabertos.go.gov.br/dataset/cd82f643-f203-41d9-9542-9250df93cd14/resource/38d3358b-4de8-45ed-8bb8-ad0206782762/download/repasses_municipios_2014_2024.zip'

response = requests.get(url_zip)
arquivo_zip = zipfile.ZipFile(BytesIO(response.content))

# Mostrar os arquivos que estão dentro do zip
arquivos = arquivo_zip.namelist()
quantidade_arquivos = len(arquivos)
print(f"Quantidade de arquivos no zip: {quantidade_arquivos}")

Quantidade de arquivos no zip: 126

In [23]:
#Visualizando os nomes dos arquivos
#for arquivo in arquivos:
    #print(arquivo)

#separando os nomes dos arquivos por ano (RepassesMunicipios2014+mes)
arquivos_2014 = [arquivo for arquivo in arquivos if '2014' in arquivo]
for arq in arquivos_2014:
    print(arq) #visualizando os arquivos_2014


print("=="*20)

arquivos_2024 = [arquivo for arquivo in arquivos if '2024' in arquivo]
arquivos_2024

RepassesMunicipios201411.csv
RepassesMunicipios201401.csv
RepassesMunicipios201403.csv
RepassesMunicipios201405.csv
RepassesMunicipios201407.csv
RepassesMunicipios201408.csv
RepassesMunicipios201412.csv
RepassesMunicipios201410.csv
RepassesMunicipios201402.csv
RepassesMunicipios201404.csv
RepassesMunicipios201409.csv
RepassesMunicipios201406.csv
========================================

['RepassesMunicipios202402.csv',
 'RepassesMunicipios202410.csv',
 'RepassesMunicipios202412.csv',
 'RepassesMunicipios202404.csv',
 'RepassesMunicipios202409.csv',
 'RepassesMunicipios202406.csv',
 'RepassesMunicipios202401.csv',
 'RepassesMunicipios202403.csv',
 'RepassesMunicipios202411.csv',
 'RepassesMunicipios202405.csv',
 'RepassesMunicipios202407.csv',
 'RepassesMunicipios202408.csv']

In [30]:
#abrindo um arquivo do zip
with arquivo_zip.open(arquivos_2014[0]) as file:
    arrec_2014 = pd.read_csv(file, sep=';')
arrec_2014.head(3)

,DATA_CREDITO,ANO_MES_REPASSE,DATA_REPASSE,NOME_MUNICIPIO,DEDUCAO_FUNDEB_IPVA,VALOR_BRUTO_IPVA,VALOR_CREDITADO_IPVA,DEDUCAO_FUNDEB_ICMS,VALOR_BRUTO_ICMS,VALOR_CREDITADO_ICMS,DEDUCAO_FUNDEB_IPI,VALOR_BRUTO_IPI,VALOR_CREDITADO_IPI
0,2014-11-03T00:00:00.000-02:00,201411,2014-11-03T00:00:00.000-02:00,ABADIA DE GOIAS,0.0,679.67,679.67,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-11-03T00:00:00.000-02:00,201411,2014-11-03T00:00:00.000-02:00,ABADIANIA,0.0,251.18,251.18,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-11-03T00:00:00.000-02:00,201411,2014-11-03T00:00:00.000-02:00,ACREUNA,0.0,4100.06,4100.06,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
arquivos_2024[0:3]

['RepassesMunicipios202402.csv',
 'RepassesMunicipios202410.csv',
 'RepassesMunicipios202412.csv']

In [32]:
#arquivo de 2024
with arquivo_zip.open(arquivos_2024[0]) as file:
    arrec_2024 = pd.read_csv(file, sep=';')
arrec_2024.head(3)

,DATA_CREDITO,ANO_MES_REPASSE,DATA_REPASSE,NOME_MUNICIPIO,DEDUCAO_FUNDEB_ICMS,VALOR_BRUTO_ICMS,VALOR_CREDITADO_ICMS,DEDUCAO_FUNDEB_IPI,VALOR_BRUTO_IPI,VALOR_CREDITADO_IPI,DEDUCAO_FUNDEB_IPVA,VALOR_BRUTO_IPVA,VALOR_CREDITADO_IPVA
0,2024-02-06T00:00:00.000-02:00,202402,2024-02-06T00:00:00.000-02:00,ABADIA DE GOIAS,25571.32,127856.58,102285.26,0.0,0.0,0.0,2812.39,7238.91,4426.52
1,2024-02-06T00:00:00.000-02:00,202402,2024-02-06T00:00:00.000-02:00,ABADIANIA,28921.85,144609.06,115687.21,0.0,0.0,0.0,3883.24,7750.36,3867.12
2,2024-02-06T00:00:00.000-02:00,202402,2024-02-06T00:00:00.000-02:00,ACREUNA,69723.50,348617.66,278894.16,0.0,0.0,0.0,11362.85,19753.71,8390.86

In [33]:
#tipo de dado de cada coluna
arrec_2024.dtypes

DATA_CREDITO             object
ANO_MES_REPASSE           int64
DATA_REPASSE             object
NOME_MUNICIPIO           object
DEDUCAO_FUNDEB_ICMS     float64
VALOR_BRUTO_ICMS        float64
VALOR_CREDITADO_ICMS    float64
DEDUCAO_FUNDEB_IPI      float64
VALOR_BRUTO_IPI         float64
VALOR_CREDITADO_IPI     float64
DEDUCAO_FUNDEB_IPVA     float64
VALOR_BRUTO_IPVA        float64
VALOR_CREDITADO_IPVA    float64
dtype: object

In [ ]:
#em todos os arquivos em "arquivos" de 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, filtrar para Goiânia
arrec_2014_goiania = arrec_2014[arrec_2014['Municipio'] == 'GOIANIA']
arrec_2024_goiania = arrec_2024[arrec_2024['Municipio'] == 'GOIANIA']

,DATA_CREDITO,ANO_MES_REPASSE,DATA_REPASSE,NOME_MUNICIPIO,DEDUCAO_FUNDEB_IPVA,VALOR_BRUTO_IPVA,VALOR_CREDITADO_IPVA,DEDUCAO_FUNDEB_ICMS,VALOR_BRUTO_ICMS,VALOR_CREDITADO_ICMS,DEDUCAO_FUNDEB_IPI,VALOR_BRUTO_IPI,VALOR_CREDITADO_IPI
76,2014-11-03T00:00:00.000-02:00,201411,2014-11-03T00:00:00.000-02:00,GOIANIA,0.00,725321.12,725321.12,NaN,NaN,NaN,NaN,NaN,NaN
298,2014-11-04T00:00:00.000-02:00,201411,2014-11-04T00:00:00.000-02:00,GOIANIA,827810.80,4494109.54,3666298.74,2519270.58,12596352.36,10077081.78,0.00,0.00,0.00
544,2014-11-05T00:00:00.000-02:00,201411,2014-11-05T00:00:00.000-02:00,GOIANIA,0.00,3352904.61,3352904.61,NaN,NaN,NaN,NaN,NaN,NaN
762,2014-11-06T00:00:00.000-02:00,201411,2014-11-06T00:00:00.000-02:00,GOIANIA,0.00,699243.73,699243.73,NaN,NaN,NaN,NaN,NaN,NaN
946,2014-11-07T00:00:00.000-02:00,201411,2014-11-07T00:00:00.000-02:00,GOIANIA,0.00,484303.26,484303.26,NaN,NaN,NaN,NaN,NaN,NaN
1154,2014-11-10T00:00:00.000-02:00,201411,2014-11-10T00:00:00.000-02:00,GOIANIA,0.00,695367.08,695367.08,0.00,0.00,0.00,73164.87,365824.35,292659.48
1400,2014-11-11T00:00:00.000-02:00,201411,2014-11-11T00:00:00.000-02:00,GOIANIA,2224529.36,3062567.53,838038.17,1164577.18,5822886.91,4658309.73,0.00,0.00,0.00
1629,2014-11-12T00:00:00.000-02:00,201411,2014-11-12T00:00:00.000-02:00,GOIANIA,0.00,859140.73,859140.73,NaN,NaN,NaN,NaN,NaN,NaN
1824,2014-11-13T00:00:00.000-02:00,201411,2014-11-13T00:00:00.000-02:00,GOIANIA,0.00,835680.94,835680.94,NaN,NaN,NaN,NaN,NaN,NaN
2028,2014-11-14T00:00:00.000-02:00,201411,2014-11-14T00:00:00.000-02:00,GOIANIA,0.00,1844140.17,1844140.17,NaN,NaN,NaN,NaN,NaN,NaN
2229,2014-11-17T00:00:00.000-02:00,201411,2014-11-17T00:00:00.000-02:00,GOIANIA,0.00,557878.18,557878.18,NaN,NaN,NaN,NaN,NaN,NaN
2428,2014-11-18T00:00:00.000-02:00,201411,2014-11-18T00:00:00.000-02:00,GOIANIA,1233719.55,1702800.38,469080.83,4229287.62,21146437.12,16917149.50,0.00,0.00,0.00
2648,2014-11-19T00:00:00.000-02:00,201411,2014-11-19T00:00:00.000-02:00,GOIANIA,0.00,516060.69,516060.69,NaN,NaN,NaN,NaN,NaN,NaN
2814,2014-11-20T00:00:00.000-02:00,201411,2014-11-20T00:00:00.000-02:00,GOIANIA,0.00,489070.84,489070.84,NaN,NaN,NaN,NaN,NaN,NaN
2993,2014-11-21T00:00:00.000-02:00,201411,2014-11-21T00:00:00.000-02:00,GOIANIA,0.00,521239.00,521239.00,NaN,NaN,NaN,NaN,NaN,NaN
3161,2014-11-24T00:00:00.000-02:00,201411,2014-11-24T00:00:00.000-02:00,GOIANIA,0.00,560781.48,560781.48,NaN,NaN,NaN,NaN,NaN,NaN
3361,2014-11-25T00:00:00.000-02:00,201411,2014-11-25T00:00:00.000-02:00,GOIANIA,639058.24,1231779.27,592721.03,841543.39,4207716.91,3366173.52,0.00,0.00,0.00
3583,2014-11-26T00:00:00.000-02:00,201411,2014-11-26T00:00:00.000-02:00,GOIANIA,0.00,578171.96,578171.96,NaN,NaN,NaN,NaN,NaN,NaN
3780,2014-11-27T00:00:00.000-02:00,201411,2014-11-27T00:00:00.000-02:00,GOIANIA,0.00,628344.71,628344.71,NaN,NaN,NaN,NaN,NaN,NaN
3948,2014-11-28T00:00:00.000-02:00,201411,2014-11-28T00:00:00.000-02:00,GOIANIA,0.00,422066.78,422066.78,NaN,NaN,NaN,NaN,NaN,NaN